video-grid {
    display: grid; gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

video-grid-item {
    display: block;
    width: 100%;
    background-color: #282d31;
    border-radius: .5rem;
    overflow: hidden;
}

video-grid-item a {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    text-decoration: none;
    background-color: #282d31;
}

video-grid-item img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    background-color: #474747;
}
video-grid-item.youtube img {object-fit: cover;}

video-grid-item .info {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    flex-grow: 1;
}

video-grid-item .info .title {
    font-weight: 700;
    font-size: 17px;
}

video-grid-item .img-wrapper {
    position: relative;
}

video-grid-item .img-wrapper .tag {
    position: absolute;
    bottom: .5rem;
    right: .5rem;

    padding: .25rem .5rem;
    background-color: rgb(30, 30, 30, 0.8);
    border-radius: .5rem;
    color: #fff;

    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}