body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color:#343A40; 
}

.main-layout {
    display: flex;
    /* flex-grow: 1; */

    height: calc(100vh - 60px);
    height: calc(100dvh - 60px);

}

.main-layout-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 6px;
}