.topnavbar {
    display: flex; gap: .5rem;
    align-items: center;

    padding: 0 .5rem;
    height: 60px;
    flex-shrink: 0;
}

.topnavbar form {
    margin: 0 auto; 
    display: block; 
    width: min(800px, 100%);
}

.topnavbar form input {
    width: 100%;
}