@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url("./bootstrap-utilities.min.css");
@import url("./flaticon.css");

@import url("./modules/home/index.css");
@import url("./modules/home/videos-grid.css");
@import url("./modules/home/debug.css");

@import url("./modules/watch/index.css");

@import url("./modules/layout/topnavbar.css");
@import url("./modules/layout/sidebar.css");
@import url("./modules/layout/main.css");

@import url("./modules/htmltags/video.css");

@import url("modules/reported-videos/index.css");

@import url("modules/buttons.css");

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--body-color);
}

body {
    

    --body-bg: #343A40;
    --body-color: #fff;

    --body-secondary-bg: #444b52;
    --body-secondary-color: #adadad;

}