body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.search-bar {
    margin-top: 10px;
    width: 50%;
}

.ad-banner {
    width: 60%;
    height: 100%;
    margin: 20px;
    flex: 0 0 0;
}