body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.search-bar {
    margin-top: 10px;
    width: 50%;
}

.ad-banner {
    padding: 1rem .5rem;
    width: min(800px, 100%);
    box-sizing: border-box;
    color: white;
}