.videos-grid {
    display: grid; gap: .5rem;
    grid-column-end: span 4;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    max-width: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 0 1rem 1rem 1rem;
}

.placeholder-video {
    width: 100%;

    background-color: white;
    border: 1px solid black;
    border-radius: 15px;

    color: #000;
    text-decoration: none;

    overflow: hidden;
}

.placeholder-video img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius: 15px;
    background-color: #474747;
}

.placeholder-video p {
    margin: .5rem 1rem;
    font-weight: 700;
    font-size: 18px;
}

.video-info {
    margin: 0 1rem 0.5rem 1rem;
}