.videos-grid {
    display: grid; gap: .5rem;
    grid-column-end: span 4;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    max-width: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 0 1rem 1rem 1rem;
}

.video-grid-item {
    width: 100%;
    color: #000;
    background-color: #282d31;
    border-radius: 1rem;
    text-decoration: none;
    overflow: hidden;
}

.video-grid-item img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius: 1rem;
    background-color: #474747;
}

.video-grid-item p {
    margin: .5rem 0;
    font-weight: 700;
    font-size: 18px;
}

.video-info {
    margin: 0 1rem 0.5rem 1rem;
}

.new-badge {
    display: inline-block;
    background-color: #00b4d8;;
    color: white;
    padding: 0.3rem;
    border-radius: 3px;
}